body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-image: url("./images/background.svg");
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background: #8dffc0;
    height: 90vh;
    width: 50vh;
    margin: 0;
    border-radius: 13px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 0.4fr 0.6fr;
    grid-template-areas:
        "qr-area"
        "content-area";
    box-shadow: 4px 4px 3px 0px rgba(80, 80, 80, 0.75);
    -webkit-box-shadow: 4px 4px 3px 0px rgba(80, 80, 80, 0.75);
    -moz-box-shadow: 4px 4px 3px 0px rgba(80, 80, 80, 0.75);
}

.wrapper[data-page="vcard"] {
    grid-template-rows: 0.3fr 0.7fr;
}

.sample-qr {
    height: 150px;
    width: 150px;
    transform: scale(130%);
    margin-top: 30px;
    grid-area: qr-area;
}

.sample-qr[data-page="vcard"] {
    margin-top: 20px;
    height: 150px;
    width: 150px;
    transform: scale(100%)
}

.content-wrapper {
    height: 100%;
    grid-area: content-area;
    display: grid;
    grid-template-rows: auto 0.4fr 70%;
}

.content-wrapper[data-page="vcard"] {
    grid-template-rows: auto auto 1fr;
    min-height: 100%;
}

h1 {
    font-family: 'Kdam Thmor Pro', sans-serif;
    align-self: start;
    text-align: center;
}

h1[data-page="selection"] {
    margin-bottom: 65px;
}

h1[data-page="link-QR"] {
    margin-top: 30px;
}

h1[data-page="vcard"] {
    margin: 0;
}

form {
    display: none;
}

form[data-page="vcard"] {
    height: 100%;
    text-align: center;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

form[data-page="link-QR"] {
    height: 100%;
    text-align: center;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 40px;
}

form>* {
    margin: 5px 10px 10px 10px;
}

.small-label {
    display: none;
}

.small-label[data-page="vcard"] {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    transform: translateY(15px);
    color: rgb(159, 159, 159);
    font-size: small;
    text-align: center;
    align-self: end;
}

.label {
    font-family: 'Exo 2', sans-serif;
    margin: 0;
}

.label[data-page="selection"] {
    width: 100%;
    display: inline-block;
    text-align: center;
}

input {
    font-family: 'Open Sans', sans-serif;
    height: 30px;
    width: 200px;
    margin-top: 5px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.23);
    border: 1px solid black;
    border-radius: 3px;
}

.input-div {
    margin-top: 20px;
}

button {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    height: 30px;
    width: 130px;
    background-color: rgba(0, 85, 30, 0.67);
    border: 1px solid rgba(0, 85, 30, 0.67);
    border-radius: 8px;
    box-shadow: 3px 3px 3px 0px rgba(80, 80, 80, 0.75);
    -webkit-box-shadow: 3px 3px 3px 0px rgba(80, 80, 80, 0.75);
    -moz-box-shadow: 3px 3px 3px 0px rgba(80, 80, 80, 0.75);
}

button[data-page="selection"] {
    margin: 20px 50px 20px 50px;
    width: 150px;
}

/* selection page */
.selection-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* selection page */
@media only screen and (max-width: 1000px) {
    body {
        background-size: auto;
    }
}