body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-image: url("./images/background.svg");
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background: #8dffc0;
    height: auto;
    width: 18em;
    margin: 0;
    border-radius: 13px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "qr-area"
        "content-area";
    box-shadow: 4px 4px 3px 0px rgba(80, 80, 80, 0.75);
    -webkit-box-shadow: 4px 4px 3px 0px rgba(80, 80, 80, 0.75);
    -moz-box-shadow: 4px 4px 3px 0px rgba(80, 80, 80, 0.75);
}

.wrapper[data-page="vcard"] {
    grid-template-rows: 0.25fr 0.75fr;
    height: auto;
}

.sample-qr {
    height: 150px;
    width: 150px;
    transform: scale(100%);
    margin-top: 1.5em;
    grid-area: qr-area;
}

.sample-qr[data-page="vcard"] {
    margin-top: 20px;
    margin-bottom: 0px;
    height: 150px;
    width: 150px;
    transform: scale(80%)
}

.sample-qr[data-page="link-QR"] {
    margin-bottom: 1em;
}

.content-wrapper {
    height: 100%;
    grid-area: content-area;
    display: grid;
    grid-template-rows: auto 0.4fr 70%;
}

.content-wrapper[data-page="vcard"] {
    grid-template-rows: auto auto 1fr;
    min-height: 100%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    align-self: start;
    text-align: center;

}

h1[data-page="selection"] {
    margin-bottom: 1em;
}

h1[data-page="link-QR"] {
    margin-top: 0px;
    margin-bottom: 0.5em;
}

h1[data-page="vcard"] {
    margin: 0;
}

form {
    display: none;
}

form[data-page="vcard"] {
    height: 100%;
    text-align: center;
    align-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
    margin-bottom: 5em;
}

form[data-page="link-QR"] {
    height: 100%;
    text-align: center;
    align-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;

}

form>* {
    margin: 1.3em;
    transform: scale(120%);
}

.small-label {
    display: none;
}

.small-label[data-page="vcard"] {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    transform: translateY(15px);
    color: rgb(159, 159, 159);
    font-size: small;
    text-align: center;
    align-self: end;
}

.label {
    font-family: 'Exo 2', sans-serif;
    font-size: 0.8em;
    color: rgb(73, 73, 73);
}

.label[data-page="selection"] {
    width: 100%;

    display: inline-block;
    text-align: center;
}



input {
    font-family: 'Open Sans', sans-serif;
    font-size: xx-small;
    height: 3em;
    width: 18em;
    margin-top: 5px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.23);
    border: 1px solid black;
    border-radius: 3px;
}

.input-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-div[data-page="vcard"]>* {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 16em;
    height: 2.5em;
}


button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.7em;
    color: white;
    width: 9em;
    padding: 0.7em;
    margin-top: 1.2em;
    background-color: rgba(0, 85, 30, 0.67);
    border: 1px solid rgba(0, 85, 30, 0.67);
    border-radius: 8px;
    box-shadow: 3px 3px 3px 0px rgba(80, 80, 80, 0.75);
    -webkit-box-shadow: 3px 3px 3px 0px rgba(80, 80, 80, 0.75);
}

button[data-page="selection"] {
    margin: 2em;
    margin-bottom: 0;
    width: 20em;
}

button[data-page="link-QR"] {
    margin-top: 0px;
}

#go-button {
    border-radius: 6px;
}

#link-QR-content {
    display: none;
}



/* selection page */
.selection-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2em;
}

/* selection page */


@media only screen and (max-width: 1000px) {
    body {
        background-size: 400%;
        background-repeat: no-repeat;
    }

    .wrapper {
        height: auto;
    }